@import url(https://fonts.googleapis.com/css?family=Comic+Sans+MS);

.memetext {
  position: fixed;
  bottom: -3em;
  right: -3em;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: yellow;
  transform: rotate(-10deg);
}

.wrapper {
  background: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet) !important;
  animation: spinon .8s linear normal;
  padding-bottom: 9em;
}

.container {
  transform: rotate(5deg);
}

@keyframes spinon {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hueShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}