@import url(https://fonts.googleapis.com/css?family=Comic+Sans+MS);

.wrapper {
  background: linear-gradient(
    to bottom right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ) !important;
  animation: spinon 2s linear normal;
  padding-bottom: 9em;
}

@keyframes spinon {
  0% {
    transform: rotate(0deg) scale(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
  100% {
    background-position: 0% 50%;
  }
}

.foodBox {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.addButton {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}
