@import url(https://fonts.googleapis.com/css?family=Comic+Sans+MS);

.animationWrapper {
  overflow: auto;
  animation: spinon 0.8s linear normal;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

.wrapper {
  min-height: 100%;
  background: linear-gradient(
    to bottom right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ) !important;
  padding-bottom: 9em;
}

.delete {
  color: red;
  border-color: red;
  margin-bottom: 1.5em;
  cursor: pointer;
}

@keyframes spinon {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hueShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bordered {
  border: 1px solid black;
  padding: 10px;
}

.add {
  background-color: green;
  color: white;
  margin-bottom: 1.5em;
  cursor: pointer;
}
