.foodItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.foodName {
  color: #555;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.foodBoxContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.foodBox {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 13em;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.foodBox:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.useButton {
  display: block;
  text-align: center;
  background: none;
  border: 1px solid var(--use-button-color);
  border-radius: 8px;
  color: var(--use-button-color);
  padding: 0.5rem;
  width: 90%;
  margin: .75em auto;
}

.useOneButton {
  --use-button-color: #007bff;
}

.useAllButton {
  --use-button-color: #a72828;
}