.header {
  grid-area: header;
}

.logo {
  margin-right: auto;
  position: absolute;
}

.logoImage {
  width: 4rem;
  height: 4rem;
  margin: .5em;
}

.title {
  margin: auto;
  top: 0;
  padding: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  width: fit-content;
}

.navbar {
  display: flex;
  flex-direction: column;
  grid-area: navbar;
  background-color: #f5f5dc;
}

.navButton {
  text-align: left;
  background: none;
  color: black;
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.navButton:hover {
  background-color: #b2dbb2;
}
.navButton:focus {
  background-color: #8fbc8f;
  outline: none;
}

.main {
  grid-area: page;
  overflow: auto;
}

.body {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "navbar page";
}