.button {
  background-color: #8fbc8f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-image: url('/background.png'); 
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;              
  text-align: center;
  min-height: 100vh;   
  width: 100%;                    
  display: flex;
  flex-direction: column;
  justify-content: center;     
  align-items: center;       
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  opacity: 70;        
}


.mission {
  position: absolute
  top: 50%;
  left: 50%;
  /* margin-top: 30px; */
  padding: 20px;
  background-color: #e4502f;
  border-radius: 5px;
  z-index: 10;
}
